@page
@model List<pitter6.Data.Models.Production>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Productions</title>
</head>
<body>
<div>
    <p>
        <a asp-action="Create" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
    </p>
</div>
<div>
    list prodctions
</div>
</body>
</html>